<section>
  {{#if signedIn}}
  <h1 class="main__title">Hello there, {{username}} <a href="/logout">To logout</a></h1>

  <div class="contentContainer">

    <div class="twitter boxContainer">
      <label class="twitter tweetHeader">Compose new Tweet</label>
      <span class="close"></span>
      <div class="lineSplit"></div>
      <textarea class="messageBox" id="postMessage" placeholder="What's happening?"></textarea>
      <label class="wordCounter" id="wordCounter">140</label>
      <input type="button" class="postButton" id="submitPost" value="Tweet" />
    </div>

  </div>


 



  {{else}}
  <h1 class="main__title">Welcome to sort is best</h1>



  {{/if}}
</section>