<section>
    <div class="container">
        <div class="icon col s12"><img src="https://img.icons8.com/color/48/000000/twitter.png" /></div>
        <h1>login</h1>
        <div class="row">
            <form class="col s12">
                <div class="input-field">
                    <input placeholder="" id="user" type="text" class="validate">
                    <label for="user">email</label>
                </div>
                <div class="input-field">
                    <input placeholder="" id="sifre" type="text" class="validate">
                    <label for="sifre">password</label>
                </div>
                <a class="btn">login</a>
            </form>
            // <a href="" class="link1">Did you forget your password</a><span class="link1">.</span><a href="" class="link1">Twitter'a kaydol</a>
        </div>
    </div>

    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
</section>