<<<<<<< HEAD
<section class="main__container--limited-width">
  <h1 class="main__title">LOGIN</h1>

  <form class="login__form" action="/authenticate" method="POST">
    <input class="text-input" type="text" name="username" placeholder="Username">
    <input class="text-input" type="password" name="password" placeholder="Password">
    <input class="submit" type="submit" value="Submit">
  </form>
  <p id="error_mesage" class="error">{{error}}</p>

</section>
=======
<section>
    <div class="container">
        <div class="icon col s12"><img src="https://img.icons8.com/color/48/000000/twitter.png" /></div>
        <h1>login</h1>

        <div>
            <form class="login__form" action="/authenticate" method="POST">
                <div class="input-field">
                    <input placeholder="" id="user" type="text" name="username" >
                    <label for="user">username</label>
                </div>
                <div class="input-field">
                    <input placeholder="" id="password" type="text" name="password" type="submit"  >
                    <label >password</label>
                </div>
                <a class="btn">login</a>
                <p id="error_mesage" class="error">{{error}}</p>
            </form>
        </div>
    </div>
 
</section>



>>>>>>> f1b1bfdfd8c9837352a3901ec828a5be80f0a401
