<section class="container">
  <div class="icon col s12"><img src="https://img.icons8.com/color/48/000000/twitter.png" /></div>
  <h1 class="main__title">Register</h1>

  <form class="register__form " action="/addUser" method="POST">
    <input class="text-input" type="text" name="email" placeholder="email">
    <input class="text-input" type="password" name="password" placeholder="Password">
    <input class="text-input" type="password" name="confirmPassword" placeholder="Confirm password">
    <input class="text-input" type="text" name="name" placeholder="name">
    <input class="text-input" type="password" name="admin" placeholder="admin?">
    <input class="submit btn"  type="submit" value="Submit">
  </form>
  <p id="error_mesage" class="error">{{error}}</p>

</section>





<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>

<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>

<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>

<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>

<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>

<div class="input-field">
  <input placeholder="" id="user" type="text" class="validate">
  <label for="user">email</label>
</div>